.Board {
    box-sizing: border-box;
    background-color: rgb(105,157,76);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    column-gap: 20px;
    align-items: center;
    justify-items: center;

    padding: 40px;
}

.Board-Wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.Current-Wrapper {
    align-self: flex-start;
    
}